<div class="container-fluid">
  <div class="header1">
    <div class="logo">
      <img class="img-logo" src="../assets/Logo1.png" alt="vector-logo">
    </div>
    <div class="navp">

      <ul class="nav ">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active"> Nuestros productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active">Reconocimientos</a>
        </li>
        <div>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active"> Testimonios</a>
          </li>
        </div>

      </ul>
    </div>
  </div>
</div>


<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="20000">
      <div class="textopresentacion">

        <div class="textopequeño">
        </div>

      </div>


      <img class="img-carousel-1" src="../assets/Bg1.png" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>



  </div>

</div>

<div class="row info">

  <div class="col-6">
    <div class="titulo-1">¿Quiénes somos?</div>
    <div class="info-quienes">
      <h1 class="texto-quienes">
        La empresa dedicada a la producción y comercialización de postres
        <br>
        <br>
        <br>
        creados a base de frutas típicas o endémicas de la region (borojó,
        <br>
        <br>
        <br>
        almirajó, piña, chontaduro y cacao) ubicada típicas o endémicas de
        <br>
        <br>
        <br>
        la region (borojó, almirajó, piña, chontaduro y cacao) ubicada
        <br>
        <br>
        <br>

        en Quibdó - Chocó
      </h1>

    </div>
  </div>
  <div class="col-5">
    <img class="" src="../assets/Product.png" width="1900px" height="1500px">
  </div>

</div>


<div class="row">
  <div class="titulo-2">
    <span class="nuestros"> Nuestros productos</span>
  </div>
  <div class="nuestros-productos">
    <div class="producto">
      <img src="../assets/chontaduro.png" width="1300px" height="100%">
    </div>
    <div class="producto">
      <img src="../assets/pina.png" width="1300px" height="100%">
    </div>
    <div class="producto">
      <img src="../assets/chocolate.png" width="1300px" height="100%">
    </div>
  </div>

</div>

<div class="row">

  <div class="col-12">
    <div class="titulo-2">
      <span class="nuestros"> Reconocimientos</span>
    </div>
    <div class="reconocimientos">
      <div class="medalla">
        <img class="" src="../assets/rec.png" width="1000px">
      </div>

      <div class="medalla">
        <img class="" src="../assets/rec2.png" width="1000px">
      </div>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-12">
    <span class=""> Clientes felices</span>
  </div>
  <div class="clientes-felices">
    <div class="comentario-cliente">
      <img src="../assets/text.png" width="650px" height="700px">
    </div>


    <div class="comentario-cliente">
      <img src="../assets/text.png" width="650px" height="700px">
    </div>
    <div class="comentario-cliente">
      <img src="../assets/text.png" width="650px" height="700px">
    </div>
  </div>
</div>

<div class="row info-complementaria">
  <div class="col-6 img-delicias">
    <img class="" src="../assets/Logo2.png" width="1000px" height="700px">
  </div>
  <div class="col-6">
    <div class="titulo-contactanos">
      <span class="contactanos">¡Contáctanos!</span>
    </div>
    <div class="redes-sociales">
      <img src="../assets/facebook.png" alt="" width="150px" height="150px">
      <img src="../assets/insta_icon.png" alt="" width="150px" height="150px">
      <img src="../assets/youtube.png" alt="" width="150px" height="150px">

    </div>
    <div class="celular">
      <span class="social">(+57 320 605 41 12)</span>
    </div>
  </div>
</div>

